<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/task/all.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
        <h1>Tâches collaborative de management</h1>
            <% if (tasks.length > 0) { %>
                <div class="container">
                    <% for (let task of tasks) { %>
                        <div class="card">
                            <h3><%= task.title %></h3>
                            <!--<p>Description of the task. This can be a short summary of what needs to be done.</p>
                            <p class="meta">Assigned to: John Doe</p>!-->
                            <div class="actions">
                                <button>Marqué comme terminé</button>
                                <form method="POST" action="/task/delete">
                                    <input type="hidden" name="id" value="<%= task.id %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit">Supprimer</button>
                                </form>

                            </div>
                        </div>

                    <% } %>
                </div>
            <% } else { %>
                    <h1>No Products Found!</h1>
            <% } %>
</main>
